In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['STRING', 100, 23.2]

In [3]:
len(my_list)

3

In [4]:
mylist = ['one','two','three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
mylist

['one', 'two', 'three']

In [8]:
another_list = ['four','five']

In [9]:
new_list = mylist + another_list

In [10]:
new_list

['one', 'two', 'three', 'four', 'five']

You can't use the property below for changing letters but anything with commas in between could be changed with this propertyFor example:name = "sam" can't be written as Pam with this propertywhereas name = "s, a, m" can be written as "p, a, m"

In [11]:
new_list[0]= 'ONE ALL CAPS'

In [12]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [13]:
new_list.append('six')

In [14]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

.append('letter') means you are adding something at the end by default. But the location can be changed by with ().

In [15]:
new_list.append ('seven')

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [17]:
new_list.pop()

'seven'

.pop() means subtract the VERY last item by default. Though the location can be told to the computer by adding number in between the ().

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

To save the popped item write the code given below:

In [19]:
popped_item = new_list.pop()

In [20]:
popped_item

'six'

In [21]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [22]:
new_list.pop(0)

'ONE ALL CAPS'

In [23]:
new_list

['two', 'three', 'four', 'five']

Sorts and Reverse

In [24]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [25]:
new_list.sort()

In [26]:
new_list

['a', 'b', 'c', 'e', 'x']

Sort is used to rearrange letters in alphabetical order. Secondly for number inside [brackets] you don't need 'this'.

In [27]:
type(new_list.sort)

builtin_function_or_method

You can't do this. The given method used below:

In [28]:
my_sorted_list = new_list.sort()

In [29]:
type(my_sorted_list)

NoneType

There is a special object in python called None, which is used to indicate no value.

In [30]:
my_sorted_list = new_list

In [31]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [32]:
num_list

[4, 1, 8, 3]

In [33]:
num_list.sort()

In [34]:
num_list

[1, 3, 4, 8]

In [39]:
num_list.reverse()

In [40]:
num_list

[8, 4, 3, 1]

Reverse simply means reverse.